@import '@/assets/styles/classes/box.scss';
@import '@/assets/styles/classes/text.scss';
@import '@/assets/styles/classes/margins.scss';
@import '@/assets/styles/classes/paddings.scss';
@import '@/assets/styles/classes/colors.scss';

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Geologica';
  // font-weight: 400;
  color: #ffffff;
  border: none;
  list-style-type: none;
  text-decoration: none;
}
strong {
  font-weight: bold;
}
input {
  color: #131520;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  opacity: 0;
}
input[type="number"] { -moz-appearance: textfield; }

html,
body {
  // scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  min-height: 100vh;
  background: #131520;
}