.flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.flex_center_center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.border-radius-10 {
  border-radius: 10px;
}

.rotate_180 {
  transform: rotate(180deg);
}

//width
// height
.h_24 {
  height: 24px;
}

.wh_44 {
  width: 44px;
  height: 44px;
}

.wh_fit_content {
  width: fit-content;
  height: fit-content;
}

//transition
.transition_03s {
  transition: 0.3s;
}