//8px
.pt_8 {
  padding-top: 8px;
}
.pb_8 {
  padding-bottom: 8px;
}
//10
.p-10 {
  padding: 10px
}
//11
.py_11 {
  padding-top: 11px;
  padding-bottom: 11px;
}
//12
.px_12 {
  padding-left: 12px;
  padding-right: 12px;
}
//24px
.pl_24 {
  padding-left: 24px;
}
.pr_24 {
  padding-right: 24px;
}